In [8]:
import pandas as pd

drivers = pd.read_csv('C:/Users/Ryan/Desktop/Data analytics/F1 Project_new/F1_database/F1_database/drivers.csv',na_values=r'\N')
constructors = pd.read_csv('C:/Users/Ryan/Desktop/Data analytics/F1 Project_new/F1_database/F1_database/constructors.csv',na_values=r'\N')
races = pd.read_csv('C:/Users/Ryan/Desktop/Data analytics/F1 Project_new/F1_database/F1_database/races.csv',na_values=r'\N')
results = pd.read_csv('C:/Users/Ryan/Desktop/Data analytics/F1 Project_new/F1_database/F1_database/results.csv',na_values=r'\N')

In [9]:
# check for missing values
drivers.isna().sum()
constructors.isna().sum()
races.isna().sum()
results.isna().sum()

resultId               0
raceId                 0
driverId               0
constructorId          0
number                 6
grid                   0
position           10928
positionText           0
positionOrder          0
points                 0
laps                   0
time               18986
milliseconds       18986
fastestLap         18499
rank               18249
fastestLapTime     18499
fastestLapSpeed    18499
statusId               0
dtype: int64

In [10]:
# drop unnecessary columns
drivers.drop(['url','nationality','code','number'], axis=1, inplace=True)
races.drop(columns=races.loc[:,'Unnamed: 7':'Unnamed: 17'].columns, inplace=True)
constructors.drop(columns=['url'])

     constructorId constructorRef            name nationality
0                1        mclaren         McLaren     British
1                2     bmw_sauber      BMW Sauber      German
2                3       williams        Williams     British
3                4        renault         Renault      French
4                5     toro_rosso      Toro Rosso     Italian
..             ...            ...             ...         ...
207            210           haas    Haas F1 Team    American
208            211   racing_point    Racing Point     British
209            213     alphatauri      AlphaTauri     Italian
210            214         alpine  Alpine F1 Team      French
211            215             rb      RB F1 Team     Italian

[212 rows x 4 columns]

In [11]:
# rename columns for clarity
drivers.rename(columns={"dob": "date_of_birth",
                        "forename": "first_name",
                        "surname": "last_name"}, inplace=True)

results.rename(columns={"position": "final_position", "rank": "fastest_lap_rank"}, inplace=True)

# replace NaN values as DNF in the final position column
results['final_position'].fillna('DNF', inplace=True)

In [12]:
# Merge results with races to get year
merged_df = results.merge(races[['raceId', 'year']], on='raceId', how='left')

# Merge with drivers to get driver names
merged_df = merged_df.merge(drivers[['driverId', 'first_name', 'last_name']], on='driverId', how='left')

# Merge with constructors to get constructor names
merged_df = merged_df.merge(constructors[['constructorId', 'name']], on='constructorId', how='left')

# Rename constructor name column for clarity
merged_df = merged_df.rename(columns={'name': 'constructor_name'})

In [13]:
# export the merged data frame 
merged_df.to_csv('C:/Users/Ryan/Desktop/Data analytics/F1 Project_new/merged_df.csv', encoding='utf-8-sig', index=False)